@font-face {
  font-family: 'cuprum';
  src: url("../fonts/cuprum.woff") format("woff"), url("../fonts/cuprum.woff2") format("woff2"); }

@font-face {
  font-family: 'cuprumbold';
  src: url("../fonts/cuprumbold.woff") format("woff"), url("../fonts/cuprumbold.woff2") format("woff2"); }

@font-face {
  font-family: 'cuprumbolditalic';
  src: url("../fonts/cuprumbolditalic.woff") format("woff"), url("../fonts/cuprumbolditalic.woff2") format("woff2"); }

@font-face {
  font-family: 'cuprumitalic';
  src: url("../fonts/cuprumitalic.woff") format("woff"), url("../fonts/cuprumitalic.woff2") format("woff2"); }

@font-face {
  font-family: 'ptsans';
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2"); }

@font-face {
  font-family: 'ptsansbold';
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2"); }

body {
  font-family: 'cuprum', sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none; }

a:active {
  color: inherit;
  text-decoration: none; }

.headerSection .actionOrder {
  background-color: #293449; }
  .headerSection .actionOrder .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 42px;
    padding: 0px 10px;
    max-width: 960px;
    color: #ffffff; }
    .headerSection .actionOrder .container .actionOrder-logo {
      position: relative; }
      .headerSection .actionOrder .container .actionOrder-logo h2 {
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        position: absolute;
        top: -21px;
        left: 0px;
        margin: 0px;
        width: 220px;
        color: #ffffff;
        background-color: #ee3643;
        text-transform: uppercase;
        height: 42px;
        border-bottom: 5px solid #b52933;
        text-align: center; }
    .headerSection .actionOrder .container .actionOrder-logo:hover h2 {
      background-color: #ca2c37;
      border-bottom: 5px solid #9a212a; }
    .headerSection .actionOrder .container .actionOrder-logo:active h2 {
      background-color: #ba2732;
      border-bottom: 5px solid #8e1e26; }
    .headerSection .actionOrder .container .actionOrder-search {
      position: relative;
      margin-left: 220px; }
    .headerSection .actionOrder .container .icon-search-img {
      background-image: url("../img/headerSection/icon-search.png");
      width: 17px;
      height: 17px;
      opacity: 0.3;
      position: absolute;
      left: 17px;
      top: 13px;
      z-index: 1; }
    .headerSection .actionOrder .container .actionOrder-search-input {
      position: relative;
      width: 270px;
      padding: 0;
      padding-left: 50px;
      margin: 0;
      border: none;
      height: 42px;
      background-color: #293449;
      outline: none; }
    .headerSection .actionOrder .container .actionOrder-search:hover .icon-search-img {
      opacity: 1; }
    .headerSection .actionOrder .container .actionOrder-search-input:focus {
      background-color: #ffffff; }
      .headerSection .actionOrder .container .actionOrder-search-input:focus .icon-search-img {
        background-image: url("../img/headerSection/icon-search-red.png");
        opacity: 1; }
    .headerSection .actionOrder .container .actionOrder-bookmarks,
    .headerSection .actionOrder .container .actionOrder-cart {
      margin: 0px; }
    .headerSection .actionOrder .container .actionOrder-bookmarks {
      position: relative;
      text-align: center;
      min-height: 42px;
      line-height: 42px;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .headerSection .actionOrder .container .actionOrder-bookmarks::before {
      content: url("../img/headerSection/icon-basket.png");
      opacity: 0.3;
      position: absolute;
      left: 8px;
      top: 2px;
      color: red;
      z-index: 1; }
    .headerSection .actionOrder .container .actionOrder-bookmarks:hover::before {
      opacity: 1; }
    .headerSection .actionOrder .container .actionOrder-bookmarks:active {
      background-color: #161d29;
      color: rgba(255, 255, 255, 0.7);
      opacity: 0.5; }
    .headerSection .actionOrder .container .actionOrder-cart {
      position: relative;
      text-align: center;
      min-height: 42px;
      line-height: 42px;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .headerSection .actionOrder .container .actionOrder-cart::before {
      content: url("../img/headerSection/icon-basket.png");
      opacity: 0.3;
      position: absolute;
      left: 8px;
      top: 2px;
      color: red;
      z-index: 1; }
    .headerSection .actionOrder .container .actionOrder-cart:hover::before {
      opacity: 1; }
    .headerSection .actionOrder .container .actionOrder-cart:active {
      background-color: #161d29;
      color: rgba(255, 255, 255, 0.7);
      opacity: 0.5; }
    .headerSection .actionOrder .container .actionOrder-checkout {
      color: inherit;
      /* blue colors for links too */
      text-decoration: inherit;
      /* no underline */
      min-height: 42px;
      line-height: 42px;
      background-color: #63a63e;
      width: 150px;
      text-align: center; }
    .headerSection .actionOrder .container .actionOrder-checkout:hover {
      background-color: #5fbb2d; }
    .headerSection .actionOrder .container .actionOrder-checkout:active {
      background-color: #518534;
      color: rgba(255, 255, 255, 0.5); }

.headerSection .headerSection-descAccNav {
  background-color: #f1f5f7;
  padding-bottom: 30px; }
  .headerSection .headerSection-descAccNav .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 960px;
    padding: 0px 10px;
    padding-top: 50px;
    margin-bottom: 40px; }
    .headerSection .headerSection-descAccNav .container p {
      margin: 0px; }
    .headerSection .headerSection-descAccNav .container .headerSection-marketDesc {
      margin-bottom: 0px;
      padding-left: 52px;
      max-width: 248px;
      font-family: 'cuprumitalic', sans-serif;
      font-size: 16px;
      line-height: 23px;
      color: #ee3643; }
    .headerSection .headerSection-descAccNav .container .headerSection-contacts-telephone {
      position: relative;
      min-height: 45px;
      max-width: 270px;
      border: 3px solid #ffffff;
      text-align: center;
      line-height: 45px;
      font-family: 'cuprum', sans-serif;
      font-size: 21px;
      color: #ee3643; }
    .headerSection .headerSection-descAccNav .container .headerSection-contacts-telephone::before {
      content: url("../img/headerSection/icon-phone.png");
      position: absolute;
      left: 13px;
      top: 2px;
      color: red;
      z-index: 1; }
    .headerSection .headerSection-descAccNav .container .headerSection-contacts-address {
      font-size: 14px;
      color: #32425c; }
    .headerSection .headerSection-descAccNav .container .headerSection-account {
      font-size: 21px; }
      .headerSection .headerSection-descAccNav .container .headerSection-account .headerSection-account-login,
      .headerSection .headerSection-descAccNav .container .headerSection-account .headerSection-account-signup {
        display: inline-block;
        position: relative;
        padding: 0px 25px;
        min-height: 45px;
        line-height: 45px;
        background-color: #ffffff;
        color: black;
        text-decoration: none;
        text-align: center; }
      .headerSection .headerSection-descAccNav .container .headerSection-account .headerSection-account-login {
        padding-left: 48px; }
      .headerSection .headerSection-descAccNav .container .headerSection-account .headerSection-account-login::before {
        content: url("../img/headerSection/icon-login.png");
        position: absolute;
        opacity: 0.3;
        left: 15px;
        top: 2px;
        color: red;
        z-index: 1; }
      .headerSection .headerSection-descAccNav .container .headerSection-account .headerSection-account-signup:hover,
      .headerSection .headerSection-descAccNav .container .headerSection-account .headerSection-account-login:hover::before,
      .headerSection .headerSection-descAccNav .container .headerSection-account .headerSection-account-login:hover {
        opacity: 1;
        color: #ee3643; }
      .headerSection .headerSection-descAccNav .container .headerSection-account .headerSection-account-signup:active,
      .headerSection .headerSection-descAccNav .container .headerSection-account .headerSection-account-login:active {
        opacity: 0.6;
        color: black; }
  .headerSection .headerSection-descAccNav .headerSection-navigation {
    max-width: 940px;
    margin: 0px auto;
    font-size: 17px; }
  .headerSection .headerSection-descAccNav .headerSection-navigation-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
    min-height: 55px;
    line-height: 55px;
    background-color: #32425c;
    color: #ffffff;
    list-style: none; }
    .headerSection .headerSection-descAccNav .headerSection-navigation-list li {
      padding: 0px 33px; }
    .headerSection .headerSection-descAccNav .headerSection-navigation-list li:hover {
      background-color: #293449; }
    .headerSection .headerSection-descAccNav .headerSection-navigation-list li:active {
      color: #1d2739;
      color: rgba(255, 255, 255, 0.5); }

.catalogSection .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  padding: 0px 10px;
  margin: 0px auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.catalogSection .catalogSection-productBox {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  min-height: 123px;
  padding: 22px;
  margin-bottom: 20px;
  color: #ffffff; }
  .catalogSection .catalogSection-productBox a {
    display: inline-block;
    margin-left: 2px;
    width: 134px;
    min-height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-transform: uppercase; }
  .catalogSection .catalogSection-productBox a:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  .catalogSection .catalogSection-productBox a:active {
    background-color: rgba(0, 0, 0, 0.3); }
  .catalogSection .catalogSection-productBox img {
    position: absolute;
    left: 196px;
    bottom: 28px; }

.catalogSection .materials {
  background-color: #f6b22d;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.catalogSection .instruments {
  background-color: #4aafde;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.catalogSection .technics {
  background-color: #cc79d1;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.catalogSection .stocks {
  background-color: #85d179;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.catalogSection .delivery {
  background-color: #f6b22d;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.catalogSection .FlexWrapper {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.catalogSection .catalogSection-gallery {
  position: relative;
  background-image: url("../img/catalogSection/worker1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 621px;
  min-height: 266px;
  padding: 25px;
  color: #ffffff; }
  .catalogSection .catalogSection-gallery h3 {
    font-family: "cuprumbold", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0px; }
  .catalogSection .catalogSection-gallery p {
    font-family: "ptsans", sans-serif; }
  .catalogSection .catalogSection-gallery .catalogSection-gallery-btn {
    position: absolute;
    left: 25px;
    bottom: 25px;
    display: inline-block;
    width: 196px;
    min-height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #ee3643;
    font-size: 14px;
    text-transform: uppercase; }
  .catalogSection .catalogSection-gallery .catalogSection-gallery-btn:hover {
    background-color: #ca2c37; }
  .catalogSection .catalogSection-gallery .catalogSection-gallery-btn:active {
    background-color: #ba2732; }
  .catalogSection .catalogSection-gallery .catalogSection-gallery-ctrlArrows-ctrlLeft {
    background-image: url("../img/catalogSection/icon-left.png");
    position: absolute;
    width: 22px;
    height: 40px;
    left: 25px;
    top: 45%; }
  .catalogSection .catalogSection-gallery .catalogSection-gallery-ctrlArrows-ctrlRight {
    background-image: url("../img/catalogSection/icon-right.png");
    position: absolute;
    width: 22px;
    height: 40px;
    right: 25px;
    top: 45%; }
  .catalogSection .catalogSection-gallery .catalogSection-gallery-ctrlSelector {
    position: absolute;
    left: 50%;
    bottom: 36px;
    margin: 0px;
    padding: 0px; }
  .catalogSection .catalogSection-gallery .catalogSection-gallery-ctrlSelector-circle {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin: 0px 2px;
    cursor: pointer; }
  .catalogSection .catalogSection-gallery .active {
    border: 2px solid white;
    background-color: #ee3643; }

.productSection .productSection-popularBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 940px;
  min-height: 90px;
  margin: 0px auto;
  padding: 0px 10px;
  background-color: #f7f3ec; }

.productSection h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  margin: 0px;
  margin-left: 15px; }

.productSection a {
  margin-right: 15px;
  width: 253px;
  min-height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #ee3643;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff; }
